@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(245, 245, 247);
}

.top::before {
  position: absolute;
  content:'';
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(20px) saturate(180%) brightness(1);
}

.topic-list:hover::-webkit-scrollbar-thumb {
  background-color: rgb(234, 234, 236);
}

.topic-list::-webkit-scrollbar {
  width: 6px;
  height: 0px;
  background-color: transparent;
}

.topic-list::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
  border-radius: 8px;
}

.topic-list::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer-item {
  margin: 2px;
  font-size: 12px;
  line-height: 16.8px;
  text-decoration-color: rgb(142, 142, 142);
  text-decoration-line: none;
  color: rgb(142,142,142);
  transition: 0.1s all 0s ease-out;
  cursor: pointer;
}

.footer-item:hover {
  color: rgb(109,85,255);
}

.footer-dot {
  margin-block: 0px;
  margin-inline: 2px;
  font-size: 8px;
  line-height: 8px;
  color: rgb(142,142,142);
}